
<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="4">

        <ion-grid class="packed-grid">
          <ion-row>
            <ion-col>
              <ion-card (click)="show(parent_aa.id)">
                <ion-card-header>
                  <ion-card-title>
                    {{parent_aa.first_name}} {{parent_aa.last_name}}
                  </ion-card-title>
                </ion-card-header>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card (click)="show(parent_ab.id)">
                <ion-card-header>
                  <ion-card-title>
                    {{parent_ab.first_name}} {{parent_ab.last_name}}
                  </ion-card-title>
                </ion-card-header>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-card (click)="show(parent_a.id)">
                <ion-card-header>
                  <ion-card-title>
                    {{parent_a.first_name}} {{parent_a.last_name}}
                  </ion-card-title>
                </ion-card-header>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-col>
      <ion-col size="4">

        <ion-grid class="packed-grid">
          <ion-row>
            <ion-col>
              <ion-card (click)="show(parent_ba.id)">
                <ion-card-header>
                  <ion-card-title>
                    {{parent_ba.first_name}} {{parent_ba.last_name}}
                  </ion-card-title>
                </ion-card-header>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card (click)="show(parent_bb.id)">
                <ion-card-header>
                  <ion-card-title> 
                    {{parent_bb.first_name}} {{parent_bb.last_name}}
                  </ion-card-title>
                </ion-card-header>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-card (click)="show(parent_b.id)">
                <ion-card-header>
                  <ion-card-title>
                    {{parent_b.first_name}} {{parent_b.last_name}}
                  </ion-card-title>
                </ion-card-header>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-col>
    </ion-row>


    <ion-row class="ion-align-items-center">
      <ion-col size="6"><!-- Partner mit Person -->

        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="6">
              
              <ion-grid class="packed-grid">
                <ion-row *ngFor="let partner of partners">
                  <ion-col>
                    <ion-card (click)="show(partner.id)">
                      <ion-card-header>
                        <ion-card-title>
                          {{partner.first_name}} {{partner.last_name}}
                        </ion-card-title>
                      </ion-card-header>
                    </ion-card>
                  </ion-col>
                  <ion-col size="1">
                    <ion-icon name="infinite-outline" size="large"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
              
            </ion-col>
            <ion-col class="ion-text-center">
              <h1><strong>{{me.first_name}} {{me.last_name}}</strong></h1>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-col>
      <ion-col *ngFor="let sibling of siblings">
        <ion-card (click)="show(sibling.id)">
          <ion-card-header>
            <ion-card-title>
              {{sibling.first_name}}
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col *ngFor="let child of children" size="3">
        <ion-card (click)="show(child.id)">
          <ion-card-header>
            <ion-card-title>
              {{child.first_name}} {{child.last_name}}
            </ion-card-title>
            <ion-card-subtitle *ngFor="let partner of child.partners" (click)="show(partner.id)">
              <ion-icon name="infinite-outline"></ion-icon>
              {{partner.first_name}} {{partner.last_name}} <br>
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <ion-card *ngFor="let grandchild of child.children" (click)="show(grandchild.id)">
          <ion-card-header>
            <ion-card-subtitle>
              {{grandchild.first_name}}
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
